
body {
    background-image:url('https://i.pinimg.com/564x/30/8c/1c/308c1cf843f8eb637ee620a8510c5fd3.jpg') ;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: red;
}

h1 {
    font-size: 30px;
}

#text {
    font-size: 30px;
    font-weight: 400;
}

.container {
    display: absolute;
    text-align: center;
    padding-bottom: 80px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
}

.popup-content img {
    width: 150px;
    height: auto;
}

.hidden {
    display: none;
}